body {
    background-color: #00005A; /* Dark blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
}

form {
    background-color: #D3D3D3; /* Light gray background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
}

form h2 {
    color: #000;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #000;
    text-align: left;
}

form input[type="text"],
form input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="file"] {
    padding: 5px;
}

form button {
    background-color: #00005A; /* Dark blue button */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

form button:hover {
    background-color: #333; /* Darker shade on hover */
}

.back-button {
    position: absolute;
    top: -40px;
    left: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.back-button:hover {
    color: #ccc;
}
